@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.user-profile-wrapper {
    @include wrapper-bg;
    height: 100%;
    padding: 0 0 112px;
}

.user-pets {
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 0 17px;
        margin-bottom: 37px;
        border-bottom: 2px solid rgba(199, 176, 231, 0.47);
    }

    &__cards {
        display: flex;
        gap: 24px;
    }
}
