@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.add-pet-wrapper {
    @include wrapper-bg;
    height: 100%;
    padding-top: 28px;
}

.add-pet {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: $width-form;
    margin: 0 auto;
    padding: 48px 104px;
    border: $border-1;
    border-radius: $border-radius-1;
}
